



/*Каркас сайта*/
body {padding:0px; margin:0; background:#bfd6db; font-size:14px; font-family:Arial;}
#basic {width:960px; min-height:500px; margin:0 auto; padding:20px 20px 20px 20px; background:#fff;}
img {border:0;}
a {color:#ff9c00;}
a:hover {text-decoration:none;}
 
/*Шапка сайта*/
#head-site {height:80px;}
li.none-bg {background:none!important;}
.telefon {float:right;}
 
/*Верхнее меню сайта*/
#top-menu {width:960px; height:74px; }
.bg-1 {width:950px; height:64px; background:#c4edf2 url(images/m1.png) repeat-x; padding:0 0 0 10px;}
.bg-2 {width:940px; height:8px; background:#ff9c00; margin:0 auto;}
.bg-1 ul {margin:0; padding:0; list-style:none;}
.bg-1 ul li {float:left; background:url(images/m2.png) no-repeat right center; padding:0 2px 0 0;}
.bg-1 ul li a {display:block; height:40px; padding:28px 32px 0 32px; color:#000000; text-decoration:none; text-transform:uppercase;}
.bg-1 ul li a:hover {color:#000000; background:#ff9c00;}
 
/*Левое меню и Контент*/
#content {width:960px; padding:20px 0 0 0; }
 
/*Контент - правый блок*/
.right { float:right; width:690px; padding:0 0 0 20px; text-align:justify;}
.right h1 {text-transform:uppercase; color:#000000; text-align:center;font-weight:normal; margin-top:0;}
.right h2 {font-size:24px; color:#000000; text-align:center; margin-top:0;}
.right h3 {text-transform:uppercase; color:#000000; text-align:center;font-weight:normal; margin-top:0;}

   p {
    line-height: 1;
   }
  table, td {
            border: 1px solid blue;
        }
        table {
            border-collapse: collapse;
        }
         table{width: 100%; border-collapse: collapse; table-layout:  auto;}
        table td{height: 10px; border: 1px solid    #ffffff;}
        table td:first-child {text-align: left;} /* выравнивание по правому краю*/
        td {
        padding: 5px;
        padding-left: 10px;
        }
        table th {text-align: center;} 
        th {
        padding: 10px;
        padding-center: 10px;
        }




/*Левое меню - левый блок*/
.left {width:250px; float:left;}
.block-nad-menu {width:240px; height:10px; background:#ff9c00;}
.block-pod-menu {width:240px; margin:0 0 0 10px; height:5 px; background:#c4edf2;}
.block-menu {width:240px; border-left:10px solid #ff9c00; background:#c4edf2;}
.left ul {margin:0; padding:10px 0 0 0; list-style:none;}
.left ul li {background:url(images/m3.png) no-repeat bottom left;}
.left ul li a {display:block; width:195px; color:#000000; text-decoration:none; padding:10px 5px 10px 40px; 
    background: url(images/marker.png) no-repeat 10px 8px;}
.left ul li a:hover {background:#ff9c00 url(images/marker.png) no-repeat 10px 8px;}
 
 
/*Подвал*/
.myclr {clear:both; float:none; width:100%; height:20px;}
#podval {border-top:5px solid #4c281e; margin-top:20px;}
.yellow {width:940px; height:5px; margin:0 auto; background:#ff9c00;}
.p1 {float:left; width:600px; padding:10px 0 0 0;}
.p2 {float:right; width:95px; padding:10px 0 0 0;}
.p3 {float:right; width:5px; text-align:right; padding:10px 5px 0 0;}
.p4 {float:right; width:90px; padding:10px 0 0 0;}









